@import url('https://fonts.cdnfonts.com/css/graublau-web');


body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: gray !important;

}
.header{
    margin-top: 150px;
    margin-bottom: 50px;
    font-family: var(--font-family);
    color: rgb(255, 255, 255);
    animation: slideUp 0.5s linear  1 normal;
    font-size: 50px;
    transition: color 0.4s, font-size 0.2s;

}

.paragraph{
    color: var(--color-white);
    font-family: var(--font-family);
    animation: slideUp 0.3s linear   1 normal;

}

.noBorder{
    border: none;

}

.homeButton{
    background-color: transparent;
    color: var(--color-white);
    margin: 0px 30px;
    padding: 0.5em 1em;
    font-weight: 90;
    font-size: 1rem;
    font-family: var(--font-text);
    border-radius: 5px;
    border: 0.3px solid var(--color-white) ;
    animation: slideUp 0.3s linear   1 normal;
    transition: all 0.3s;
    
}
.homeButton:hover{
    transform: translateY(-10px);
    color: black;
    font-weight: 200;
    background-color: var(--color-white);
}

.market-container{
    display: flex;
    height: 500px;

}
.market-container-x{
    display: flex;
    height: 500px;

}

.text-right{
    height: 100%;
    width: 65%;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);

    

}

.text-left{
    height: 100%;
    width: 60%;
    padding: 10px 30px;
    background-color: rgb(255, 255, 255);

    

}
h1{
    text-align: center;
}
.subheading{
    font-size: 40px;
}
.content{
    font-size: 20px;
    text-align: center;

}
.image-right{
    height: 100%;
    width: 35%;
    background: url('AnImages/AboutUs.jpg'); 
    background-size: cover;

    
}
.image-left{
    height: 100%;
    width: 40%;
    background: url('AnImages/OurVision.jpg'); 
    background-size: cover;

    
}

@media (max-width: 1000px) {
    .image-right, .text-right, .image-left,.text-left {
      width: 100%;

    }

    .market-container{
        height: 1000px;
        width: 100%;
        flex-direction: column;

    }
  }
  

.space-container{
    background-color: rgb(35, 35, 35);
    height: 75px;
    width: 100%;

}

.author-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.author-card{
    border-radius: 8px;
    width: 20%;
    height: 450px;
    background-color: white;

}


.author-image{
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
}

#justin{
    background-image: url('AnImages/test.jpg');
}
#fadillah{
    background-image: url('AnImages/test.jpg');
}
#chris{
    background-image: url('AnImages/test.jpg');
}

.author-text{
    width: 100%;
    height: 20%;


}


  .strong-text{
    font-family: 'Graublau Web', sans-serif;
    font-weight:bold; 
    font-size: 3em;
}



.pricing-card{
    border-radius: 8px;
    width: 25%;
    height: 600px;
    background-color: white;
}


.pricing-main{
    border-bottom: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    font-family: 'Gra';
}

.pricing-header{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: 'Graublau Web' !important;
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    padding: 5px 15px;
    height: 10%;
    background-color: rgb(78, 78, 78);

}

#free{
    background: black;}
#premium{
    background: black;}
#deluxe{
    background: black;}
    @media (max-width: 1000px) {
        .image-right, .text-right, .image-left,.text-left, .author-image {
          width: 100%;
          overflow: hidden;
    
        }
        .market-container-x{
            height: 600px;
            width: 100%;
            flex-direction: column;
        }
        .market-container{
            height: 1000px;
            width: 100%;
            flex-direction: column;
        }
        .image-right{
            width: 100%;
            background-image: url('AnImages/AboutUs3.jpg');
            overflow: hidden;
        }
        .image-left{
            width: 100%;
            background-image: url('AnImages/OurVision3.jpg');
            overflow: hidden;
        }
    
        .author-card{
            width: 80%;
            margin: auto;
            overflow: auto;
            
        }
        .author-container{
            width: 100%;
            flex-direction: column;
            overflow: hidden;
        }
        .pricing-card{
            width: 80%;
            margin: auto;
            height: 750px;
            overflow: hidden;

        }

    }

    .mainTitle{
        font-family: 'Graublau Web';
        font-size: 2.3em;
        text-align: center;
        margin: 20px 0px;
        color: white;
    }

    #pricing{
        background-color: black;
    }

.pricingChoices {
    background: #282d34;
    color: white;
    font-family: sans-serif;;
    display: flex;
    min-height: 70vh;
    max-height: 70vh;
}
.slider{
    width: 50%;
}
.slider input{display: none;}
.testimonials{
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 500px;
    perspective: 1000px;
    overflow: hidden;
}
.testimonials .item{
    width: 300px;
    padding: 30px;
    border-radius: 5px;
    background-color: #21262d;
    position: absolute;
    border:3px solid white;
    box-sizing: border-box;
    transition: transform 0.4s;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
    margin-top: 100px;
    margin-bottom: 100px;
}
.testimonials .item h1{font-size: 114px; color: white;}
.dots{display: flex; justify-content: center;align-items: center;}
.dots label{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413B52;
    margin: 7px;
    transition-duration: 0.2s;
    margin-bottom: 100px;
    padding-top: -100px;
}
#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"]{
    transform: scale(2);
    background-color: #fff;
    box-shadow: 0px 0px 0px 3px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"]{
    transform: scale(1.5);
}


#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-1"]{
    transform: translate3d(200px, -60px, 0) rotateY(-15deg);
    z-index: 2;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-1:checked ~ .testimonials label[for="t-3"]{
    transform: translate3d(-200px, -60px, 0) rotateY(15deg);
    z-index: 3;
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"]{
    
    z-index: 4;
}

.information {
    width: 40%;
    display: flex;
    
}

.descriptionSection {
    background-color: black;
    width: 40%;
}

.descriptionSubheadingCard {
    text-align: center;
    font-size: 1.5vw;
}

.descriptionSubheading {
    text-align: center;
    font-size: 2vw;
}

#premium2, #delux2 {
    display: none;
}

.startRight {
    float: right;
}

.toggleButton:hover{
    color: orange;
}