
/* For service.html */

@import url('https://fonts.cdnfonts.com/css/graublau-web');

body {
    background-color: var(--bodyBackground) !important;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

/*Resizing the candle image and changing text content*/
#bannerService {
    width: 100%;
    height: 80vh;
    background-image: var(--HomeBackground);
    background-size: cover;
    background-position: center;
    color: white;
}

/*Shifting the heading and subheading text position downwards*/
.heading {
    margin-top: 10vh;
}

/*Set space between heading and subheading*/
#subheading {
    font-size: 30px;
    width: 50%;
    text-align: center;
    height: 5vh;
    margin-top: 5vh;
    color: var(--text);
}

/*Resizing and setting the background colour for the circles section*/
#serviceSection {
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    background-color: var(--bodyBackground);
    padding-bottom: 5vw;
    padding-top: 2vw;
}

/*Set space between circle section and candle image*/
.circleSection {
    margin-top: 10vh;
}

/*Set space between first and second rows of circle section*/
.circleRow2 {
    margin-top:  15vh;
}

/*Resizing button text in circles*/
.circleText {
    font-size: 2vw;
    color: white;
}

/*Reducing the space between the first and second lines of each button text*/
.circleTextLine2 {
    margin-top: -15px;
}

/*Giving each circle the respective background images and make them appear more subtle*/
#circle1 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.75),rgba(66, 66, 66, 0.75)), url("serviceImages/funeralMusic.jpg");
}

#circle2 {
    background-image: linear-gradient(rgba(44, 44, 44, 0.247),rgba(0, 0, 0, 0.308)), url("serviceImages/funeralMinister.jpg");
}

#circle3 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.623),rgba(66, 66, 66, 0.534)), url("serviceImages/funeralMortician.jpg");
}

#circle4 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.75),rgba(66, 66, 66, 0.75)), url("serviceImages/funeralGravestone.jpg");
}

#circle5 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.438),rgba(66, 66, 66, 0.445)), url("serviceImages/funeralComplete.jpeg");
}

/*Set the circle size and improve background image appearance*/
.circleSize {
    width: 15vw;
    height: 15vw;
    margin-left: 10%;
    border-radius: 100%;
    background-size: cover;
    border: none;
}

/*Giving each rectangle the respective background images and decreasing the brightness of each image*/
#musicPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/musicPart.jpg");
}

#ministerPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/ministerPart.jpeg");
}

#morticianPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/morticianPart.jpg");
}

#gravestonePart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/gravestonePart.png");
}

#funeralPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/funeralPart.jpg");
}

/*Set the rectangle size and improve background image appearance*/
.services {
    background-size: cover;
    height: 30vw;
    margin-top: 15vh;
}

/*Set space for each service description*/
.whiteArea {
    width: 35vw;
    height: 30vw;
    background-color: var(--descriptionArea);
}

/*To decide the location of the service description*/
.left {
    margin-left: 10%;
}

.right {
    margin-left: 54%;
}

/*Make a clickable button, set the colour, set the shape, and change font size*/
.button {
    background-color: black;
    margin-top: -10vw;
    border-radius: 100vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-size: 2vw;
    border-color: white;
}

.button:hover {
    background-color: orange;
}

.buttonAnimation{
    animation: slideUp 0.3s linear   1 normal;
}

/*To place the button over the background image of each service and decide the location*/
.leftButton {
    float: left;
    margin-left: 20vw;
}

.rightButton {
    float: right;
    margin-right: 18vw;
}



/*Shift the subheading of each service towards the top center with space above the subheading and change font size*/
.subheadingServices {
    text-align: center;
    padding-top: 3vw;
    font-size: 1.8vw;
    color: var(--text);
}

.descriptionServices {
    text-align: justify;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    font-size: 1.02vw;
    color: var(--text);
}

/* Full-width input fields */
input[type=text], input[type=date], input[type=file], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.closeButtonPosition {
    margin: 24px 0 50px 0;
    position: relative;
}

.pop-upContent {
    padding: 16px;
}

/* Pop-up background */
.pop-upBackground {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Position and size of pop-up*/
.pop-up {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: slideDown 0.6s;
    animation: slideDown 0.6s
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 100%;
      }
    }


@media only screen and (max-width: 600px) {
    * {
        display: none;
    }
}

.animate-slide-up {
    animation: slideUp 1s ease-in-out forwards;
}
@keyframes slideUp {
    0% {
      transform: translateY(0);
      opacity: 100%;
    }
    80% {
        transform: translateY(0);
        opacity: 100%;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px; 
    position: relative;
    font-family: var(--font-text);


}


.navbar a{
    text-decoration: none;
    color: white;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: rgb(118, 118, 118);
    position: absolute;
    left: 0%;
    bottom: -5;
    transition: 0.7s;
}

.navbar ul li:hover:after{
    width: 100%;
}
.container-fluid{
    background-color: transparent;
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
.startRight {
    float: right;
}
.serenity-title{
    animation: slideUp 0.5s linear  1 normal;
}
.toggleButton:hover{
    color: orange;
}
.switch10 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch10 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider10 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border: 1px solid white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider10:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider10 {
    background-color: #CEB5B7;

}

input:focus + .slider10 {
    box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider10:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider10.round10 {
    border-radius: 34px;
}

.slider10.round10:before {
    border-radius: 50%;
}

:root{
    --white1: #F1E4E8;
    --white2: #E2DCDE;
    --white3: #E2DCDE;
    --white4: #b97375;
    --white5: #2D2D34;
    --white6: #FFE548;
    --white7: #582707;
    --white8: #CEB5B7;
    --black1: #E9FFF9;
    --black2: #1D3354;
    --black3: #090C02;
    --black4: #FFFFFA;
    --black5: #BDD4E7;
    --black6: #0D1317;
    --black-linearGradient: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("serviceImages/servicesDark.jpg");
    --white-linearGradient: linear-gradient(rgba(0,0,0,0.43),rgba(0,0,0,0.75)),url("serviceImages/servicesLight.jpg");

}

.light{
    --bodyBackground: var(--white3);
    --text: var(--white5);
    --descriptionArea: var(--white8);

}

.dark{
    --bodyBackground: var(--black6);
    --text: var(--black4);
    --descriptionArea: var(--black3);


}

@keyframes slideUp {
    from{
      transform: translateY(30px);
    }
    to{
      transform: translateY(0);
    }
}


.card-text{
    animation: slideUp 0.7s linear  1 normal;

}