
/* For service.html */

body {
    background-color: rgb(22, 22, 22) !important;
}

/*Resizing the candle image and changing text content*/
#bannerService {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('AnImages/candle2.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

/*Shifting the heading and subheading text position downwards*/
.heading {
    margin-top: 10vh;
}

/*Set space between heading and subheading*/
#subheading {
    font-size: 30px;
    width: 50%;
    text-align: center;
    height: 5vh;
    margin-top: 5vh;
}

/*Resizing and setting the background colour for the circles section*/
#serviceSection {
    background-color: white;
    padding-bottom: 5vw;
    padding-top: 2vw;
}

/*Set space between circle section and candle image*/
.circleSection {
    margin-top: 10vh;
}

/*Set space between first and second rows of circle section*/
.circleRow2 {
    margin-top:  15vh;
}

/*Resizing button text in circles*/
.circleText {
    font-size: 2vw;
    color: white;
}

/*Reducing the space between the first and second lines of each button text*/
.circleTextLine2 {
    margin-top: -15px;
}

/*Giving each circle the respective background images and make them appear more subtle*/
#circle1 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.75),rgba(66, 66, 66, 0.75)), url("serviceImages/funeralMusic.jpg");
}

#circle2 {
    background-image: linear-gradient(rgba(44, 44, 44, 0.247),rgba(0, 0, 0, 0.308)), url("serviceImages/funeralMinister.jpg");
}

#circle3 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.623),rgba(66, 66, 66, 0.534)), url("serviceImages/funeralMortician.jpg");
}

#circle4 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.75),rgba(66, 66, 66, 0.75)), url("serviceImages/funeralGravestone.jpg");
}

#circle5 {
    background-image: linear-gradient(rgba(85, 85, 85, 0.438),rgba(66, 66, 66, 0.445)), url("serviceImages/funeralComplete.jpeg");
}

/*Set the circle size and improve background image appearance*/
.circleSize {
    width: 15vw;
    height: 15vw;
    margin-left: 10%;
    border-radius: 100%;
    background-size: cover;
    border: none;
}

/*Giving each rectangle the respective background images and decreasing the brightness of each image*/
#musicPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/musicPart.jpg");
}

#ministerPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/ministerPart.jpeg");
}

#morticianPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/morticianPart.jpg");
}

#gravestonePart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/gravestonePart.png");
}

#funeralPart {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("serviceImages/funeralPart.jpg");
}

/*Set the rectangle size and improve background image appearance*/
.services {
    background-size: cover;
    height: 30vw;
    margin-top: 15vh;
}

/*Set space for each service description*/
.whiteArea {
    width: 35vw;
    height: 30vw;
    background-color: white;
}

/*To decide the location of the service description*/
.left {
    margin-left: 10%;
}

.right {
    margin-left: 54%;
}

/*Make a clickable button, set the colour, set the shape, and change font size*/
.button {
    background-color: black;
    margin-top: -10vw;
    border-radius: 100vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-size: 2vw;
    border-color: white;
}

button:hover {
    background-color: orange;
}

.buttonAnimation{
    animation: slideUp 0.3s linear   1 normal;
}

/*To place the button over the background image of each service and decide the location*/
.leftButton {
    float: left;
    margin-left: 20vw;
}

.rightButton {
    float: right;
    margin-right: 18vw;
}



/*Shift the subheading of each service towards the top center with space above the subheading and change font size*/
.subheadingServices {
    text-align: center;
    padding-top: 3vw;
    font-size: 1.8vw;
}

.descriptionServices {
    text-align: justify;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
    font-size: 1.02vw;
}

/* Full-width input fields */
input[type=text], input[type=date], input[type=file]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.closeButtonPosition {
    margin: 24px 0 50px 0;
    position: relative;
}

.pop-upContent {
    padding: 16px;
}

/* Pop-up background */
.pop-upBackground {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Position and size of pop-up*/
.pop-up {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    bottom: 25px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media only screen and (max-width: 600px) {
    * {
        display: none;
    }
}