
/*This css file is for general styling; the styles that are the same across all pages*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: currentColor;
}

::selection{
    color: black;
    background-color: orange
}

paragraph::selection{
    color: black;
    background-color: orange
}

:root{
    --font-text: 'Inter', sans-serif;
    --font-button: 'Roboto', sans-serif;

    --color-gray: rgb(118, 118, 118);
    --color-white: rgb(229, 229, 229);
}



@keyframes slideUp {
    from{
      transform: translateY(30px);
    }
    to{
      transform: translateY(0);
    }
}

.toggleButton{
    background-color: transparent;
    border: none;
}

.toggleButton:click{
    background-color: transparent;
    border: none;
}

.bi-toggle-off{
    transition: color 0.4s, font-size 0.2s;
    font-size: 3em;
}

.bi-toggle-off:hover{
    font-size: 3.2em;
}

.CallMeAnAnimation{
    animation: slideUp 0.3s linear   1 normal;
}

