
/*This css file is for general styling; the styles that are the same across all pages*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: currentColor;
}

.content{
    font-size: 20px;
    text-align: center;
}

::selection{
    color: black;
    background-color: orange
}

paragraph::selection{
    color: black;
    background-color: orange
}

:root{
    --font-text: 'Inter', sans-serif;
    --font-button: 'Roboto', sans-serif;

    --color-gray: rgb(118, 118, 118);
    --color-white: rgb(229, 229, 229);
}

:root{
    --white1: #F1E4E8;
    --white2: #E2DCDE;
    --white3: #E2DCDE;
    --white4: #b97375;
    --white5: #2D2D34;
    --white6: #FFE548;
    --white7: #582707;
    --white8: #CEB5B7;
    --black1: #E9FFF9;
    --black2: #1D3354;
    --black3: #090C02;
    --black4: #FFFFFA;
    --black5: #BDD4E7;
    --black6: #0D1317;
    --black-linearGradient: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('AnImages/candle2.jpg');
    --white-linearGradient: linear-gradient(rgba(0,0,0,0.43),rgba(0,0,0,0.75)),url('AnImages/WhiteCandle.jpg');

}


.light{
    --bg: var(--white8);
    --bg-nav: var(--white2);
    --text: var(var(--white5));
    --firstcontainer-background: var(--white2);
    --firstcontainer-text: var(--white5);
    --pricing-bg: var(--white8);  
    --team-text-background: var(--white1);
    --team-text-text: var(--white5);
    --meetourTime-line: var(--white4);
    --HomeBackground: var(--white-linearGradient);

}

.dark{
    --bg: var(--black1);
    --bg-nav: var(--black2);
    --text: var(--black3);
    --firstcontainer-background: var(--black3);
    --firstcontainer-text: var(--black4);
    --pricing-bg: var(--black5);  
    --team-text-background: var(--black3);
    --team-text-text: var(--black1);
    --meetourTime-line: var(--black2);
    --HomeBackground: var(--black-linearGradient);


}


@keyframes slideUp {
    from{
      transform: translateY(30px);
    }
    to{
      transform: translateY(0);
    }
}

.toggleButton{
    background-color: transparent;
    border: none;
}

.toggleButton:click{
    background-color: transparent;
    border: none;
}

.bi-toggle-off{
    transition: color 0.4s, font-size 0.2s;
    font-size: 3em;
}

.bi-toggle-off:hover{
    font-size: 3.2em;
}

.CallMeAnAnimation{
    animation: slideUp 0.3s linear   1 normal;
}
