
/*This css file is for general styling; the styles that are the same across all pages*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: currentColor;
}

::selection{
    color: black;
    background-color: orange
}

paragraph::selection{
    color: black;
    background-color: orange
}

:root{
    --font-text: 'Inter', sans-serif;
    --font-button: 'Roboto', sans-serif;

    --color-gray: rgb(118, 118, 118);
    --color-white: rgb(229, 229, 229);
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('AnImages/candle2.jpg');
    background-size: cover;
    background-position: center;
    color: white;

}

.logo{
    width: 120px;
    cursor: pointer;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px; 
    position: relative;
    font-family: var(--font-text);


}


.navbar a{
    text-decoration: none;
    color: white;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: rgb(118, 118, 118);
    position: absolute;
    left: 0%;
    bottom: -5;
    transition: 0.7s;
}

.navbar ul li:hover:after{
    width: 100%;
}

@keyframes slideUp {
    from{
      transform: translateY(30px);
    }
    to{
      transform: translateY(0);
    }
}

.toggleButton{
    background-color: transparent;
    border: none;
}

.toggleButton:click{
    background-color: transparent;
    border: none;
}

.bi-toggle-off{
    transition: color 0.4s, font-size 0.2s;
    font-size: 3em;
}

.bi-toggle-off:hover{
    font-size: 3.2em;
}

.CallMeAnAnimation{
    animation: slideUp 0.3s linear   1 normal;
}

/* Toggle Button Color Mode*/

:root{
    --solarized-bg-color: #fcde9c;
    --solarized-text-color: #ffa552;
    --solarized-box-color: #5C4742;
}


.solarized{
    
    background-color: var(--solarized-bg-color);
    color: var(--solarized-text-color);
}