:root{
  --font-text: 'Inter', sans-serif;
  --font-button: 'Roboto', sans-serif;

  --color-gray: rgb(118, 118, 118);
  --color-white: rgb(229, 229, 229);
}

.main {
  margin-top: 30px;
}

:root{
  --white1: #F1E4E8;
  --white2: #E2DCDE;
  --white3: #E2DCDE;
  --white4: #613c3d;
  --white5: #2D2D34;
  --white6: #FFE548;
  --white7: #582707;
  --white8: #CEB5B7;
  --white9: #472836;
  --black1: #E9FFF9;
  --black3: #090C02;
  --black4: #FFFFFA;
  --black5: #BDD4E7;
  --black6: #0D1317;
  --black-linearGradient: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('AnImages/candle2.jpg');
  --white-linearGradient: linear-gradient(rgba(0,0,0,0.43),rgba(0,0,0,0.75)),url('AnImages/WhiteCandle.jpg');

}


.light{
  --bg: var(--white8);
  --bg-nav: var(--white2);
  --text: var(var(--white5));
  --firstcontainer-background: var(--white4);
  --firstcontainer-text: var(--white5);
  --pricing-bg: var(--white2);  
  --team-text-background: var(--white4);
  --team-text-text: var(--white5);
  --meetourTime-line: var(--white9);
  --HomeBackground: var(--white-linearGradient);
}

.dark{
  --bg: var(--black1);
  --bg-nav: var(--black3);
  --text: var(--black3);
  --firstcontainer-background: var(--black3);
  --firstcontainer-text: var(--black4);
  --pricing-bg: var(--black5);  
  --team-text-background: var(--black3);
  --team-text-text: var(--black1);
  --meetourTime-line: var(--black3);
  --HomeBackground: var(--black-linearGradient);
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

@media (max-width: 2000px) {
  .products-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 1600px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1300px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1000px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .products-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 450px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}

.product-container {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
  background-color: var(--meetourTime-line);
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 2px;
  color: white;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  
}

.product-name {
  height: 60px;
  margin-bottom: 5px;
  font-family: var(--font-text);
}

.product-rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid rgb(231, 231, 231);

}

.product-price {
  font-weight: 700;
  margin-bottom: 10px;
}

.product-quantity-container {
  margin-bottom: 17px;
}

.product-spacer {
  flex: 1;
}



.added-to-cart img {
  height: 20px;
  margin-right: 5px;
}

.add-to-cart-button {
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}
